VITE_API_BASE_URL=http://localhost:4000/api
VITE_EVALUATION_BASE_URL=http://4.224.186.213/evaluation-service
VITE_AUTH_EMAIL=
VITE_AUTH_NAME=
VITE_AUTH_ROLL_NO=
VITE_AUTH_ACCESS_CODE=
VITE_AUTH_CLIENT_ID=
VITE_AUTH_CLIENT_SECRET=
